@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');
body
	font-size: 18px
	line-height: 1.6
body, *
	margin: 0
	padding: 0
	font-family: 'Montserrat', sans-serif
*
	box-sizing: border-box

.App-header
	display: flex
	justify-content: space-between
	align-items: center
	padding: 5px 30px
	background: #333
	box-shadow: 0 0 5px rgba(0, 0, 0, .3)
	.App-logo
		width: 70px
		height: 70px
		object-fit: contain
	.App-link
		text-decoration: none
		font-size: 20px
		color: #fff
		font-weight: 700


.container
	max-width: 1140px
	margin: 0 auto
	padding: 50px 15px

.main--title
	display: flex
	justify-content: space-between
	align-items: center
	margin-bottom: 30px
.post__item
	&:not(:last-child)
		margin-bottom: 45px
	&-title
		a
			color: #ff0040
			text-decoration: none
	.post-text
		margin-bottom: 10px
	.posted-by
		margin-right: 10px
		font-size: 14px

.btn
	color: #ff0040				
	font-size: 16px
	cursor: pointer


.create-btn
	background: #ff0040
	color: #fff
	font-size: 16px
	text-decoration: none	
	padding: 10px 20px
	border-radius: 5px


.loading
	color: #ff0040
	text-align: center


.form-group
	&:not(:last-child)
		margin-bottom: 20px
	label
		display: block
		text-transform: capitalize
		font-weight: 500
		margin-bottom: 10px
	input,
	select
		height: 50px
		padding: 0px 20px
	input,
	select,
	textarea
		border: 1px solid #e5e5e5
		border-radius: 5px
		outline: none
		box-shadow: none
		width: 100%
		background: #f4f6ff
		option
			height: 30px
		&:focus
			border-color: #ff0040
	textarea
		height: 120px
		padding: 20px

.post-btn
	background: #fb5343
	color: #fff
	font-size: 20px
	text-decoration: none	
	padding: 10px 20px
	border-radius: 5px
	box-shadow: none
	outline: none
	border: none
	font-weight: 600
	cursor: pointer